#thread-bottom-container .relative.h-0,
#thread-bottom-container button.absolute.rounded-full,
#thread-bottom-container>.text-center:last-child {
    display: none !important;
}

#navigate-btn-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    border-radius: 28px;
    opacity: 0.5;
}

#navigate-btn-container:hover{
    opacity: 1;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20px;
    height: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.nav-btn::after {
    content: var(--msg-preview);
    position: absolute;
    right: 200%;
    width: 200px;
    background: #2f2f2f;
    border: solid 1px #373737;
    color: white;
    padding: 6px 16px;
    pointer-events: none;
    border-radius: 16px;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    max-height: calc(1.43rem * 3);
    overflow: hidden;
    white-space: normal;
}

.nav-btn:hover::after {
    opacity: 1;
}

#msg-line {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: width 0.2s ease-in-out;
}

.nav-btn:hover #msg-line {
    width: 95% !important;
}

.nav-btn.active-nav #msg-line {
    width: 95% !important;
    background-color: #ffffff;
}


div[role="presentation"]>div:first-child {
    position: relative;
}